In [2]:
import pandas as pd

In [3]:
!ls

README.md               bookings.csv.bz2
amadeus_challenge.ipynb searches.csv.bz2

In [4]:
df_bookings = pd.read_csv('bookings.csv.bz2', compression='bz2', sep='^', nrows=10)

In [7]:
df_bookings.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [8]:
df_searches = pd.read_csv('searches.csv.bz2', nrows=10, sep='^')

In [9]:
df_searches.head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL

# Exercise 1

In [10]:
df_bookings = pd.read_csv('bookings.csv.bz2', compression='bz2', sep='^')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7,8,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
df_bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000010 entries, 0 to 10000009
Data columns (total 38 columns):
act_date               object
source                 object
pos_ctry               object
pos_iata               object
pos_oid                object
rloc                   object
cre_date               object
duration               object
distance               object
dep_port               object
dep_city               object
dep_ctry               object
arr_port               object
arr_city               object
arr_ctry               object
lst_port               object
lst_city               object
lst_ctry               object
brd_port               object
brd_city               object
brd_ctry               object
off_port               object
off_city               object
off_ctry               object
mkt_port               object
mkt_city               object
mkt_ctry               object
intl                   object
route                  object
carrier                object
bkg_class              object
cab_class              object
brd_time               object
off_time               object
pax                    float64
year                   float64
month                  float64
oid                    object
dtypes: float64(3), object(35)
memory usage: 2.8+ GB

In [12]:
df_searches = pd.read_csv('searches.csv.bz2', sep='^')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (40,41,42,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
df_searches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20390198 entries, 0 to 20390197
Data columns (total 45 columns):
Date                 object
Time                 object
TxnCode              object
OfficeID             object
Country              object
Origin               object
Destination          object
RoundTrip            float64
NbSegments           float64
Seg1Departure        object
Seg1Arrival          object
Seg1Date             object
Seg1Carrier          object
Seg1BookingCode      object
Seg2Departure        object
Seg2Arrival          object
Seg2Date             object
Seg2Carrier          object
Seg2BookingCode      object
Seg3Departure        object
Seg3Arrival          object
Seg3Date             object
Seg3Carrier          object
Seg3BookingCode      object
Seg4Departure        object
Seg4Arrival          object
Seg4Date             object
Seg4Carrier          object
Seg4BookingCode      object
Seg5Departure        object
Seg5Arrival          object
Seg5Date             object
Seg5Carrier          object
Seg5BookingCode      object
Seg6Departure        object
Seg6Arrival          object
Seg6Date             object
Seg6Carrier          object
Seg6BookingCode      object
From                 object
IsPublishedForNeg    object
IsFromInternet       object
IsFromVista          object
TerminalID           object
InternetOffice       object
dtypes: float64(2), object(43)
memory usage: 6.8+ GB

# Exercise 2

In [14]:
list(df_bookings.columns.values) #get column names

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

In [2]:
df_bookings_reduced = pd.read_csv('bookings.csv.bz2', sep='^', nrows=1000)

In [4]:
df_bookings_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 38 columns):
act_date               1000 non-null object
source                 1000 non-null object
pos_ctry               1000 non-null object
pos_iata               1000 non-null object
pos_oid                1000 non-null object
rloc                   1000 non-null object
cre_date               1000 non-null object
duration               1000 non-null int64
distance               1000 non-null int64
dep_port               1000 non-null object
dep_city               1000 non-null object
dep_ctry               1000 non-null object
arr_port               1000 non-null object
arr_city               1000 non-null object
arr_ctry               1000 non-null object
lst_port               1000 non-null object
lst_city               1000 non-null object
lst_ctry               1000 non-null object
brd_port               1000 non-null object
brd_city               1000 non-null object
brd_ctry               1000 non-null object
off_port               1000 non-null object
off_city               1000 non-null object
off_ctry               1000 non-null object
mkt_port               1000 non-null object
mkt_city               1000 non-null object
mkt_ctry               1000 non-null object
intl                   1000 non-null int64
route                  1000 non-null object
carrier                1000 non-null object
bkg_class              1000 non-null object
cab_class              1000 non-null object
brd_time               1000 non-null object
off_time               1000 non-null object
pax                    1000 non-null int64
year                   1000 non-null int64
month                  1000 non-null int64
oid                    1000 non-null object
dtypes: int64(6), object(32)
memory usage: 297.0+ KB

In [5]:
df_bookings_reduced.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [6]:
df_airport = df_bookings_reduced.groupby('arr_port') #subset of bookings, 1000 first lines

In [9]:
df_airport

In [21]:
df_airport.sum()['pax'].max()

50

In [22]:
#using apply function to create a new column 
#df['Discounted_Price'] = df.apply(lambda row: row.Cost - (row.Cost * 0.1), axis = 1)

In [34]:
df_bookings_reduced['pax'].min()

-8

In [35]:
df_bookings_reduced['pax'].max()

21

In [36]:
df_bookings_reduced['pax_abs'] = abs(df_bookings_reduced['pax']) #new column for avoiding cancellations

In [37]:
df_bookings_reduced.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid,pax_abs
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL,1
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL,1
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL,1
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546,1
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546,1

In [38]:
df_airport = df_bookings_reduced.groupby('arr_port')

In [39]:
df_airport

In [42]:
df_airport.sum()

          duration  distance  intl  pax   year  month  pax_abs
arr_port
ACC         197330         0     2    6   4026      6        6
ADD         134122      5562     4    2   8052     12        4
AGP          35670         0     2    6   4026      6        6
ALA          22324         0     0    2   4026      6        2
ALC          80330         0     2    4   4026      6        4
...            ...       ...   ...  ...    ...    ...      ...
YWG        1690120       816    10    4  24156     36       20
YXE             84       518     0    1   2013      3        1
YYC          10568         0     4    0   8052     12        4
YYZ          14902         0     2    2   4026      6        2
ZRH         132273         0    13   -1  26169     39       13

[201 rows x 7 columns]

In [43]:
df_airport.sum()['pax_abs'].max() #airport in reduced set with max number of bookings has 54 bookings

54

In [47]:
#Most booked airport in subset

df_airport.sum()[df_airport.sum()['pax_abs'] == df_airport.sum()['pax_abs'].max()]

          duration  distance  intl  pax   year  month  pax_abs
arr_port
DCA          98970         0     2   50  24156     36       54

In [51]:
## SOLUTION IN SUBSET OF FIRST 1000 ROWS

df_airport.sum().sort_values(by='pax_abs', ascending=False).head(10)['pax_abs']

arr_port
DCA         54
JFK         48
PVG         35
MIA         33
CDG         30
SFO         29
MNL         28
CGK         28
GRU         26
CCJ         25
Name: pax_abs, dtype: int64

In [60]:
#import just some columns to speed up processing time

fields = ['arr_port','arr_city', 'pax']

df_bookings = pd.read_csv('bookings.csv.bz2', sep='^', usecols=fields)

In [61]:
df_bookings

          arr_port  arr_city  pax
0         LHR       LON      -1.0
1         CLT       CLT       1.0
2         CLT       CLT       1.0
3         SVO       MOW       1.0
4         SVO       MOW       1.0
...            ...       ...  ...
10000005  MAA       MAA      -1.0
10000006  MAA       MAA       1.0
10000007  RDU       RDU       1.0
10000008  ORY       PAR       1.0
10000009  ORY       PAR       1.0

[10000010 rows x 3 columns]

In [62]:
df_bookings['pax_abs'] = abs(df_bookings['pax']) #new column for avoiding cancellations

In [63]:
df_bookings

          arr_port  arr_city  pax  pax_abs
0         LHR       LON      -1.0      1.0
1         CLT       CLT       1.0      1.0
2         CLT       CLT       1.0      1.0
3         SVO       MOW       1.0      1.0
4         SVO       MOW       1.0      1.0
...            ...       ...  ...      ...
10000005  MAA       MAA      -1.0      1.0
10000006  MAA       MAA       1.0      1.0
10000007  RDU       RDU       1.0      1.0
10000008  ORY       PAR       1.0      1.0
10000009  ORY       PAR       1.0      1.0

[10000010 rows x 4 columns]

In [64]:
df_bookings.groupby('arr_port')

In [65]:
df_bookings.groupby('arr_port').sum()

             pax  pax_abs
arr_port
AAB         30.0     50.0
AAE        810.0   2290.0
AAL        810.0   1730.0
AAN         20.0     80.0
AAQ       1650.0   2690.0
...          ...      ...
ZWE         30.0    190.0
ZWS        620.0   1460.0
ZYL       1290.0   6130.0
ZYN         20.0     20.0
ZYR       1020.0   1720.0

[2275 rows x 2 columns]

In [69]:
### SOLUTION OF EXERCISE 2

df_most_booked = df_bookings.groupby('arr_port').sum().sort_values(by='pax_abs', ascending=False).head(10)['pax_abs']

In [70]:
df_most_booked

arr_port
LHR         335051.0
JFK         256870.0
CDG         251270.0
BKK         234840.0
LAX         226530.0
DXB         217570.0
MIA         212230.0
MCO         180870.0
FCO         169900.0
SFO         158580.0
Name: pax_abs, dtype: float64

# Exercise 3

In [3]:
df_searches_reduced = pd.read_csv('searches.csv.bz2', nrows=1000, sep='^')

In [20]:
df_searches_reduced[(df_searches_reduced['Destination'] == 'MAD') \
                    | (df_searches_reduced['Destination'] == 'BCN') \
                    | (df_searches_reduced['Destination'] == 'AGP')]

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL
93,2013-01-01,20:15:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,FRA,AGP,1,2,FRA,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
113,2013-01-01,23:40:53,FXX,0028c46214bc260eb3011510a898cd42,ES,ALC,BCN,0,2,ALC,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,f024768c26f020e6243423f932c2a4de,MAD
147,2013-01-01,15:35:53,MPT,63d35a15724f95939e6d0dd0ca39be16,DE,HHN,AGP,0,1,HHN,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BRE
151,2013-01-01,10:46:21,MPT,50c54b52322080d2c257390f714f91bd,ES,FRA,MAD,0,1,FRA,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MAD
165,2013-01-01,03:40:25,MPT,f4b923424d840c9128df27b5242feffa,US,SFO,BCN,1,2,SFO,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
177,2013-01-01,11:26:34,MPT,3ac5426dd4f6bb8de28349c7b77e1ee4,IT,MOW,BCN,1,2,MOW,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MIL
186,2013-01-01,09:46:07,MPT,61880d6e0141d7ec9659ef77e29aab01,DK,CPH,BCN,1,2,CPH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,CPH
188,2013-01-01,02:07:17,CAL,b9c9a14cb66d19de74865613593d2e95,MA,NDR,BCN,1,2,NDR,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,CAS
208,2013-01-01,15:58:35,FFP,99a5fa66a00828db9727aea7ebc6ae74,DE,CGN,BCN,1,2,CGN,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BER
229,2013-01-01,15:18:55,MPT,03a4fc8b3cd31d6d5b5d7b86d20f4af8,DE,PAR,BCN,1,2,PAR,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LEJ
242,2013-01-01,18:47:50,MPT,22cf15984f4b13ed8f513a42324666d1,FR,GVA,AGP,1,2,GVA,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
253,2013-01-01,06:34:31,MPT,3c28d84b4edf9000ebd5071c7bf37912,DE,MUC,BCN,1,2,MUC,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BER
322,2013-01-01,14:52:58,MPC,7f45b8c2329242b93ccfcc1082036bc3,IT,MUC,BCN,0,1,MUC,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,ROM
365,2013-01-01,22:40:55,MPT,b695299cc14ddcd1e31f1c922b3e258c,US,DFW,BCN,1,2,DFW,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SJC
375,2013-01-01,09:24:45,FXA,22cf15984f4b13ed8f513a42324666d1,FR,ORY,MAD,0,3,ORY,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,4e2eadd83a9320fda69759705f818867,PAR
406,2013-01-01,07:03:29,MPT,22cf15984f4b13ed8f513a42324666d1,FR,PAR,MAD,1,2,PAR,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
458,2013-01-01,12:43:44,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,DUS,AGP,0,1,DUS,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
481,2013-01-01,04:32:46,MPT,50c54b52322080d2c257390f714f91bd,ES,MAH,BCN,1,2,MAH,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MAD
500,2013-01-01,17:47:05,MPT,0a914cfb66b849dddaa6bb2e66ff0999,DE,MUC,BCN,1,2,MUC,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BNJ
509,2013-01-01,09:50:42,MPT,440642a9bdaeb6287f826cefd73255e8,US,TLV,MAD,1,2,TLV,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HPN
541,2013-01-01,20:45:33,FFP,8e26311e3f5deaceabc65406c823f84d,DE,HAM,BCN,1,2,HAM,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BER
593,2013-01-01,05:28:54,MPT,50c54b52322080d2c257390f714f91bd,ES,MAD,BCN,0,1,MAD,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MAD
606,2013-01-01,00:53:22,FFP,7caa8207574585c0f88e3a0e10801288,BE,BRU,MAD,1,2,BRU,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BRU
618,2013-01-01,19:42:47,MPT,c67abd6f0b032ef75348ecbecb4cb276,FR,CDG,BCN,0,1,CDG,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
623,2013-01-01,18:15:32,MTP,e08742a93e1d3d9e679723625a3484fc,DE,NUE,BCN,1,2,NUE,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
628,2013-01-01,00:59:07,MPT,50c54b52322080d2c257390f714f91bd,ES,SVQ,BCN,1,2,SVQ,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MAD
633,2013-01-01,15:47:34,MPT,0ea1d0d2fd64d9a3af7f73d1d617585d,SE,GOT,BCN,1,2,GOT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
641,2013-01-01,22:24:26,FXP,85dce07cd559401cb89a022ced8165c3,GB,LHR,BCN,1,2,LHR,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,b521630ac891af544d94bafc1e4a6fe0,LON
674,2013-01-01,19:47:16,MPT,b5eea863a84ba9b21115d5e90bca9157,FI,HEL,AGP,1,2,HEL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HEL
688,2013-01-01,22:32:58,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,FRA,MAD,1,2,FRA,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
747,2013-01-01,16:56:29,MPT,9aa037e8d4135205e54688c113ed7e80,DE,MUC,BCN,1,2,MUC,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BER
767,2013-01-01,23:28:23,MPT,3d64a5a4938aa8965867a738f3990034,GR,PNA,BCN,0,1,PNA,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,ATH
780,2013-01-01,23:23:33,MPT,440642a9bdaeb6287f826cefd73255e8,US,NYC,BCN,1,2,NYC,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HPN
791,2013-01-01,15:24:57,MPT,440642a9bdaeb6287f826cefd73255e8,US,NYC,MAD,1,2,NYC,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HPN
797,2013-01-01,22:25:39,FFP,57adb2de5874291bd81695e7d766067c,AE,DXB,BCN,1,2,DXB,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,AUH
798,2013-01-01,00:50:58,FXP,43fa7cd54a3f24663d71f0207da2a330,ES,VLC,MAD,1,2,VLC,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MAD
804,2013-01-01,13:00:08,CAL,99a5fa66a00828db9727aea7ebc6ae74,DE,DTM,BCN,1,2,DTM,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BER
809,2013-01-01,18:18:56,MPT,fa523d18c02a5f86b630bf0f3971732c,US,ATL,BCN,1,2,ATL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LAX
835,2013-01-01,11:24:52,MPT,3c28d84b4edf9000ebd5071c7bf37912,DE,FRA,AGP,1,2,FRA,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BER
895,2013-01-01,19:00:54,MPT,9762db0293927bea84c273dd0c9250c6,US,MCO,MAD,1,2,MCO,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,DCA
897,2013-01-01,20:09:58,MPT,440642a9bdaeb6287f826cefd73255e8,US,SJC,MAD,1,2,SJC,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HPN
904,2013-01-01,02:10:40,MTP,2f928552e4a4e5bf0a0e19cdd89b8aaa,DE,TXL,AGP,1,2,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
992,2013-01-01,19:12:06,CAL,64c955f4e10e1e9355ae7d32bc77a7a9,RU,LED,BCN,1,2,LED,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MOW

In [22]:
df_searches_reduced[(df_searches_reduced['Destination'] == 'MAD') \
                    | (df_searches_reduced['Destination'] == 'BCN') \
                    | (df_searches_reduced['Destination'] == 'AGP')].groupby('Destination').sum()

,RoundTrip,NbSegments,IsPublishedForNeg,IsFromInternet,IsFromVista
Destination,,,,,
AGP,5,12,0,0,0
BCN,21,48,0,0,0
MAD,9,22,0,0,0

In [23]:
#New YearMonth column

df_searches_reduced['YearMonth'] = pd.to_datetime(df_searches_reduced['Date']).\
    apply(lambda x: '{year}-{month}'.format(year=x.year, month=x.month))

In [24]:
df_searches_reduced

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice,YearMonth
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA,2013-1
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV,2013-1
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC,2013-1
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,...,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO,2013-1
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL,2013-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2013-01-01,14:58:25,MPT,c8daef4f8bf73a61aa2c928705f7b82d,ES,ADB,DTM,0,1,ADB,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MAD,2013-1
996,2013-01-01,16:03:50,FXP,266a430550a2a2bf1ceb2e5b09f1991c,HK,HKG,PER,0,2,HKG,...,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HKG,2013-1
997,2013-01-01,02:16:11,MTP,0632d0675e69cac2473475b2261fc4b9,CA,YYZ,HKG,1,2,YYZ,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,YTO,2013-1
998,2013-01-01,13:01:24,FFP,89cc49bf7febdbe40c1b7db87facb2ae,US,JRO,FRA,1,2,JRO,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC,2013-1
999,2013-01-01,22:48:50,MPT,7f45b8c2329242b93ccfcc1082036bc3,IT,FLR,LON,1,2,FLR,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,ROM,2013-1

In [29]:
df_searches_reduced[(df_searches_reduced['Destination'] == 'MAD') \
                    | (df_searches_reduced['Destination'] == 'BCN') \
                    | (df_searches_reduced['Destination'] == 'AGP')].groupby(['Destination']).sum()

,RoundTrip,NbSegments,IsPublishedForNeg,IsFromInternet,IsFromVista
Destination,,,,,
AGP,5,12,0,0,0
BCN,21,48,0,0,0
MAD,9,22,0,0,0

In [30]:
df_searches_reduced[(df_searches_reduced['Destination'] == 'MAD') \
                    | (df_searches_reduced['Destination'] == 'BCN') \
                    | (df_searches_reduced['Destination'] == 'AGP')].groupby(['YearMonth']).sum()

,RoundTrip,NbSegments,IsPublishedForNeg,IsFromInternet,IsFromVista
YearMonth,,,,,
2013-1,35,82,0,0,0

In [31]:
#import just some columns to speed up processing time

fields = ['Date','Destination']

df_searches = pd.read_csv('searches.csv.bz2', sep='^', usecols=fields)

In [32]:
df_searches

                Date Destination
0         2013-01-01         AUH
1         2013-01-01         MIL
2         2013-01-01         SFO
3         2013-01-01         ARN
4         2013-01-01         MAD
...              ...         ...
20390193  2013-10-13         NBO
20390194  2013-10-13         ALA
20390195  2013-10-13         LHR
20390196  2013-10-13         MAD
20390197  2013-10-13          HA

[20390198 rows x 2 columns]

In [41]:
df_searches['Date'].max()

'2013-12-25'

In [42]:
df_searches['Date'].min()

'2013-01-01'

In [47]:
df_searches['Date'][0][0:7] #First 7 characters of Date column

'2013-01'

In [51]:
df_searches['YearMonth'] = df_searches['Date'].str[:7]

In [73]:
df_searches['Search_No'] = 1

In [74]:
df_searches

                Date Destination YearMonth  Search_No
0         2013-01-01         AUH   2013-01          1
1         2013-01-01         MIL   2013-01          1
2         2013-01-01         SFO   2013-01          1
3         2013-01-01         ARN   2013-01          1
4         2013-01-01         MAD   2013-01          1
...              ...         ...       ...        ...
20390193  2013-10-13         NBO   2013-10          1
20390194  2013-10-13         ALA   2013-10          1
20390195  2013-10-13         LHR   2013-10          1
20390196  2013-10-13         MAD   2013-10          1
20390197  2013-10-13          HA   2013-10          1

[20390198 rows x 4 columns]

In [78]:
df_cities = df_searches[(df_searches['Destination'] == 'MAD') \
    | (df_searches['Destination'] == 'BCN') \
    | (df_searches['Destination'] == 'AGP')]

In [79]:
df_cities

                Date Destination YearMonth  Search_No
4         2013-01-01         MAD   2013-01          1
93        2013-01-01         AGP   2013-01          1
113       2013-01-01         BCN   2013-01          1
147       2013-01-01         AGP   2013-01          1
151       2013-01-01         MAD   2013-01          1
...              ...         ...       ...        ...
20389978  2013-10-13         BCN   2013-10          1
20390045  2013-10-13         MAD   2013-10          1
20390073  2013-10-13         AGP   2013-10          1
20390160  2013-10-13         MAD   2013-10          1
20390196  2013-10-13         MAD   2013-10          1

[676382 rows x 4 columns]

In [82]:
df_cities.groupby(['YearMonth', 'Destination']).sum()

                       Search_No
YearMonth Destination
2013-01   AGP               9633
          BCN              29469
          MAD              24258
2013-02   AGP               8379
          BCN              28329
          MAD              22800
2013-03   AGP              10659
          BCN              30552
          MAD              24681
2013-04   AGP               8265
          BCN              31236
          MAD              25251
2013-05   AGP              10830
          BCN              28728
          MAD              26334
2013-06   AGP               7923
          BCN              26505
          MAD              22800
2013-07   AGP               8892
          BCN              29241
          MAD              22971
2013-08   AGP               7866
          BCN              27075
          MAD              21831
2013-09   AGP               8151
          BCN              23427
          MAD              21147
2013-10   AGP               6499
          BCN              20276
          MAD              22294
2013-11   AGP               6384
          BCN              19824
          MAD              20272
2013-12   AGP               3696
          BCN              15400
          MAD              14504